
@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .columnReverse {
        flex-flow: column-reverse;
        justify-content: space-evenly !important;
    }

    .contactHome {
        padding-bottom: 10vh;
    }
}